
<div class="container-fluid" data-ng-controller="HomeController">
    <div class="content">
        <div class="row">
            <div class="col-lg-4 col-sm-hide">
                <img src="modules/core/img/collage/friend.jpg">
                <img src="modules/core/img/collage/signs.jpg">
            </div>
            <div class="col-lg-4 col-sm-hide">
                <img src="modules/core/img/collage/calendar.jpg">
                <img src="modules/core/img/collage/key.jpg">
            </div>
            <div class="col-lg-4 col-sm-hide">
                <img src="modules/core/img/collage/cube.jpg">
            </div>
        </div>



            <div class="block container welcome" id="section-1">
                <div class="row">
                    <h2 class="page-header text-muted text-center text-uppercase" style="color: #bba454"
                            >
                        About
                    </h2>
                </div>
                <div class="row">
                    <div class="page-header">
                        <div class ="col-md-12 text-center">
                            <h3>
                                You found your way!
                            </h3>
                            <h4 class="text-muted caption-2">
                                I&rsquo;m Laurie, a facilitator, planner, thinker, noob developer, mom, dog lover and more.

                                This is friendly road, a place where people work on something together  while finding common ground along the way with others in unexpected ways.
                                I&rsquo;m on a mission to get everyone to put ideas to action by telling someone, learning, and paying it forward.
                            </h4>
                        </div>
                    </div>
                </div>



                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h4 class=" text-muted" >
                            <i class="glyphicon glyphicon-sunglasses"></i>
                        </h4>
                        <h2>Inspiration</h2>
                        <p class="text-muted">After attending events, getting new training, meeting people, I shared and heard many new ideas.
                            Wanting to share the power of collaboration,
                            I set out to create a way for others to work on ideas with meaning and purpose.</p>
                        <p class="text-muted"> The goal is to be a place to collect, share, and do things and see what comes out of it. </p>


                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="text-muted" >
                            <i class="glyphicon glyphicon-blackboard text-center"></i>
                        </h4>
                        <h2>Collaboration</h2>
                        <p class="text-muted">I believe that before the brand, a social media plan, or a website, comes the journey. As such I have prepared some worksops to start with your something. Make it a journey. Play with your inspiration. Fight your roadblocks. Make twists and turns along the way. A website is just one part.</p>
                        <p class="text-muted">In my journey to learn code, I made this website. </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class=" text-muted" >
                            <i class="glyphicon glyphicon-apple text-center"></i>
                        </h4>

                        <h2>Results</h2>
                        <p class = "text-muted">We&rsquo;ve yet to see! A finished website, a new team, an idea for commericializing, a new product, a new passion. Each journey brings new outcomes. A new start, collaboration, from inspiration to tangable stuff.</p>
                        <p class="text-muted">I believe the creative journey creates true value.  </p>
                    </div>
                </div>
            </div> <!-- end block -->
            <div class="block container welcome" id="section-2">
                <div class="row">
                    <h2 class="page-header text-muted text-center text-uppercase" style="color: #bba454">
                        Collaborations
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="modules/core/img/code.jpg" alt="code">
                            <div class="caption">
                                <h3>Practice Learning Code</h3>
                                <p>You started to learn code for a reason. Maybe you wanted to try new things, learn a skill, or do something. Working with others on the same journey makes it more fun and interesting.
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="modules/core/img/spark.jpg" alt="spark">
                            <div class="caption">
                                <h3>Deep Dive into Ideas</h3>
                                <p>Ideas come from inspiration. Ideas naturally evolve with learning and more inspiration. We see four stages of idea creation, self discovery, exploring, connecting, and testing. </p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="modules/core/img/candoit.jpg" alt="can do it">
                            <div class="caption">
                                <h3>Connect and Validate</h3>
                                <p>You found it. It feels great. You have context and it feels awesome! Now it&rsquo;s time to reach out, maybe find new connections who will ask where have you been all these days.</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end block -->
            <div class="block container welcome" id="section-3">

                <div class="row">
                    <h2 class="page-header text-muted text-center text-uppercase" style="color: #bba454">
                        Meet my team
                    </h2>
                </div>
                <div class="row">
                <div class="page-header">
                    <div class ="col-md-12 text-center">
                        <h4 class="text-muted">
                            Over the years my tiny 1-person creative center has evolved in style more than size, still a very busy 1-person creative center (my dog keeps me exercised). I partner with some of the most amazing artists and developers and build my teams as talent is needed.
                        </h4>
                    </div>
                </div>
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-6  text-right">
                            <h4 class=" text-muted" >
                                <img class="img-circle" style="width: 150px;" src="modules/core/img/taz.jpg">
                            </h4>
                            <h2>Taz</h2>

                            <h3 class="text-muted text-lowercase">Chief Balance Officer</h3>
                            <p class="text-muted">Known for keeping time, giving the odd nudge a mid day for a walk break, being a faithful pal day in and day out. Specializes in frizbee and napping</p>

                        </div>
                        <div class="col-md-6  text-left">
                            <h4 class="text-muted" >
                                <img class="img-circle" style="width: 150px;" src="modules/core/img/laurie.jpg">
                            </h4>
                            <h2>Laurie</h2>

                            <h3 class="text-muted text-lowercase">Creativity Wisperer</h3>
                            <p class="text-muted">Dreamer, Learner, Book-keeper, Facilitator, Home Barista, Developer, Creator. Specialties, story telling, listener, teaching and learning, and solving problems with long walks  </p>
                        </div>
                    </div>
                </div>
            </div> <!-- end block -->
            <div class="block container welcome" id="section-4">
                <div class="row">
                    <div class="page-header text-muted text-center text-uppercase" style="color:#bba454;">
                        <div class ="col-md-12 text-center">
                            <h3>
                                Get in Touch!
                            </h3>
                </div>
                <div class="row">
                    <div class ="col-md-12 text-center">
                            <h4 class="text-muted">
                                Great connections start with a simple reach out. Drop me a message if you want to work together, share ideas, or simply say hello.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class ="row">
                        <form class="form">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputName">Name</label>
                                    <input type="text" class="form-control" id="InputName" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">Email</label>
                                    <input type="email" class="form-control" id="InputEmail" placeholder="email@example.com">
                                </div>
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="InputName">Message</label>
                                    <textarea class="form-control" rows="8"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end block -->
            <div class="row footer">
             <p class="text-center">&copy; Friendly Road 2015</p>
            </div>
        </div>
    </div>
    </div>
</div>
