<section data-ng-controller="RoadblocksUpdateController as ruCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Edit: {{theRoadblock.description}}</h3>
    </div>
    <div class="modal-body">
        <form name="updateRoadblockForm">
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-flag cust-profile"
                           ng-class= "{'text-primary': theRoadblock.sherpaFound, 'text-pink': !theRoadblock.sherpaFound}"></i>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="description">Short Description</label>
                            <div class="controls">
                                <input type="text" data-ng-model="theRoadblock.description" id="description" class="form-control" required>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="name">Choose a Life Line</label>
                            <div class="controls">
                                <select data-ng-model="theRoadblock.name" id="name" class="form-control"
                                        ng-options="name.id as name.opt for name in nameOptions">
                                    <option value="">--Select name--</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="controls">-->
                        <!--<select data-ng-model="theCustomer.channel" id="channel" class="form-control"-->
                        <!--ng-options="channel.id as channel.opt for channel in channelOptions">-->
                        <!--<option value="">-- Select Channel --</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="control-label" for="googleDocs">Google Docs</label>
                            <div class="controls">
                                <input type="checkbox" data-ng-model="theRoadblock.googleDocs" id="googleDocs" class="form-control checkbox-left">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <label class="control-label" for="sherpaFound">Sherpa Found</label>
                            <div class="controls">
                                <input type="checkbox" data-ng-model="theRoadblock.sherpaFound" id="sherpaFound" class="form-control checkbox-left">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="ruCtrl.update(theRoadblock);ok()" ng-disabled="updateRoadblockForm.$invalid">Save & Close</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>
</section>
