<section data-ng-controller="JourneysController as journeysCtrl">
    <div class="page-header">
        <h1>Journeys</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <button type="button" class="btn btn-success text-center btn-spacing" ng-click="journeysCtrl.modalCreate('lg')">
                <i class="glyphicon glyphicon-road cust-list"></i> <br>
                New Journey
            </button>
        </div>
    </div>
    </br>
    </br>
    <journey-list></journey-list>

</section>



